.dark{
    background-color: rgb(37, 36, 36);
}

.height{
    height: 750px;
}

.contact-height{
    height: 969px;
}

.small{
    max-width: 400px;
    max-height: 400px;
}

.left{
    float: left;
}

.right{
    float: right;
}

.gap{
    gap: 10px;
}

body{
    background-image: linear-gradient(to top, black, gray);
    background-position: fixed;
    background-repeat: no-repeat;
}