.background {
    background: url("./img/background.jpg");
}

.background-nav {
    background: url(/img/background-nav-carts.jpg) center no-repeat;
    background-size: cover;
}

.full-height {
    height: 100vh;
}

.header-row {
    height: 10%;
}

.content-row {
    height: 90%;
}